{% extends 'base.html.twig' %}

{% block body %}

    {% include 'navbar.html.twig' %}

    <div class="container py-5">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    <h2>shQRtlinks</h2>

    <a href="{{ url('links') }}">Übersicht Links</a>

    </div>
{% endblock %}