<footer class="mt-auto border-top bg-light d-flex justify-content-between p-3 py-lg-4">

    <span>
        <a href="{{ url('contact') }}" class="text-decoration-none mx-3">Contact</a>
        <a href="{{ url('privacy') }}" class="text-decoration-none mx-3">Data privacy</a>
        <a href="{{ url('imprint') }}" class="text-decoration-none mx-3">Imprint</a>
    </span>
    <span class="text-right mx-3">
        Made by <a href="https://bandemer.dev">Matthias Bandemer</a>
    </span>

</footer>